$dark: (
  // 滚动条
  scrollbarBg: #02162b,
  scrollbarThumbBg: rgba(25, 143, 226, 0.58),
  scrollbarTrack: inset 0 0 6px rgba(0, 0, 0, 0.3),
  scrollbarThumbShadow: inset 0 0 6px rgba(0, 0, 0, 0.1),
  // 导航
  navBackgroundImg: url('../../assets/img/common/nav-header.png'),
  menuFirstBeforeBg: #29c9fb,
  menuItemActiveHorizontal: linear-gradient(360deg, #0c7cb5 0%, #065781 100%),
  menuItemActiveHoverHorizontal: linear-gradient(
    360deg,
    rgba(12, 124, 181, 0.6) 0%,
    rgba(6, 87, 129, 0.6) 100%
    ),
  menuItemActiveAfterHorizontal: #29c9fb,
  menuItemActiveBg: linear-gradient(90deg, #0a2643 0%, #108dc5 100%),
  menuItemHoverColor: #fff,
  menuItemHoverBg: #023960,
  menuItemHoverBgVertical: #184f8d,
  menuItemHoverColorVertical: #fff,
  menuItemActiveBgVertical: linear-gradient(90deg, #108dc5 0%, #0a2643 100%),
  menuItemActiveColorVertical: #fff,
  menuShadowVertical: 5px 5px 12px 0 #041129,
  menuBoxBgVertical: #041129,
  menuBoxColorVertical: #99a4af,
  subFirstBeforeBg: #29c9fb,
  subFirstTriangleBorder: #29c9fb,
  subMenuTitleHoverBg: #073c61,
  subMenuActiveBg: linear-gradient(90deg, #0a2643 0%, #108dc5 100%),
  subMenuTitleBgVertical: #041129,
  subMenuActiveColorVertical: #fff,
  subMenuActiveBgVertical: linear-gradient(90deg, #108dc5 0%, #0a2643 100%),
  // 主布局
  layoutBackGround: #041129,
  layoutHeaderBarBg: #011B37,
  layoutHeaderBarShadow: 0 1px 1px rgba(0, 0, 0, 0.1),
  layoutSiderBg: #011B37,
  // 标签页
  tabPaneBgActive: #0d3560,
  tabPaneColor: #fff,
  tabPaneActive: #fff,
  tabPaneHoverBg: #0d3560,
  tabSliderBorder: #07355E,
  tabOptionHoverBg: #0d3560,
  tabOptionHoverColor: #fff,
  // iview
  inputBackGround: #02162b,
  inputColor: #fff,
  inputPlaceholder: #4f5d6b,
  inputPlaceholderFocus: #fff,
  inputBorder: #10457e,
  inputBorderFocus: #2b84e2,
  inputShadowFocus: none,
  inputBgDisabled: #02162b,
  inputBorderDisabled:#10457e,
  inputColorDisabled: #4f5d6b,
  inputNumberBgDisabled: #041129,
  formLabelColor: #fff,
  formItemErrorInputBorder: #ed4014,
  selectPlaceholderColor: #4f5d6b,
  selectBg: #02162b,
  selectBorder: #10457e,
  selectBorderFocus: #2b84e2,
  selectDropdownBg: #051e43,
  selectItemColor: #fff,
  selectItemBgHover: #023960,
  selectItemBgSelected: #07346e,
  selectItemColorSelected: #fff,
  selectIconColor: #2b84e2,
  selectShadowFocus: none,
  selectColor: #fff,
  selectColorDisabled: #4f5d6b,
  datepickerLabelColor: #8D9CB1,
  datepickerBtnArrowDoubleColor: #c5c8ce,
  datepickerBtnArrowColor: #c5c8ce,
  datepickerHeaderBorder: #10457E,
  datepickerCellsHeaderColor: #c5c8ce,
  datePickerLabelColor: #8D9CB1,
  datapickerDropdownBg: #051e43,
  datepickerCellsBgDisabled: #000,
  timepickerCellsListBorder: #10457E,
  timepickerCellsBgHover: #07346e,
  pickerConfirmBorder: #10457E,
  radioInnerBorder: #10457e,
  radioInnerBg: #02162b,
  radioWrapperColor: #fff,
  radioInnerBorderDisabled: #1d3a5a,
  radioInnerBgDisabled: #02162b,
  radioInnerHoverBorder: #2b84e2,
  radioInnerAfterBgCheckedDisabled: #1d3a5a,
  checkboxWrapperColor: #fff,
  checkboxInnerBg: #02162b,
  checkboxInnerBorder: #10457e,
  checkboxInnerBgChecked: #02162b,
  checkboxInnerBgCheckedDisabled: #02162b,
  checkboxInnerBorderCheckedDisabled: #092a43,
  switchBorder: #2b84e2,
  switchBg: transparent,
  switchInnerAfterBg: #fff,
  switchBgChecked: #2b84e2,
  switchDisabledBg: #02162b,
  switchInnerAfterBgChecked: #fff,
  btnPrimaryBg: linear-gradient(180deg, #2b84e2 0%, #083a78 100%),
  btnPrimaryBgHover: linear-gradient(180deg, #65a7ee 0%, #175cb2 100%),
  btnPrimaryBgActive: linear-gradient(180deg, #408fe5 0%, #0b50a7 100%),
  btnPrimaryColorDisabled: #415060,
  btnPrimaryBgDisabled: #02162b,
  btnPrimaryBorderDisabled: #1d3a5a,
  btnDefaultColor: #2b84e2,
  btnDefaultBg: #02162b,
  btnDefaultBorder: #174f98,
  btnDefaultColorHover: #4e9ef2,
  btnDefaultBgHover: #02162b,
  btnDefaultBorderHover: #2b84e2,
  btnDefaultColorActive: #2b84e2,
  btnDefaultBgActive: #02162b,
  btnDefaultBorderActive: #10457e,
  btnDefaultColorDisabled: #415060,
  btnDefaultBgDisabled: #02162b,
  btnDefaultBorderDisabled: #1d3a5a,
  btnDashedBg: #02162b,
  btnDashedColor: #2b84e2,
  btnDashedBorder: #174f98,
  btnDashedColorHover: #4e9ef2,
  btnDashedBgHover: #02162b,
  btnDashedBorderHover: #2b84e2,
  btnDashedColorActive: #4e9ef2,
  btnDashedBgActive: #02162b,
  btnDashedBorderActive: #146ac7,
  btnDashedColorDisabled: #415060,
  btnDashedBgDisabled: #02162b,
  btnDashedBorderDisabled: #1d3a5a,
  btnTextColor: #2b84e2,
  btnTextColorHover: #4e9ef2,
  btnTextBgHover: transparent,
  btnTextColorActive: #2b84e2,
  btnTextBgActive: transparent,
  btnTextColorDisabled: #415060,
  messageNoticeContentBgWarning: #01152c,
  messageNoticeContentBorderWarning: #10457e,
  messageNoticeContentColorWarning: #fff,
  messageNoticeContentBgSuccess: #01152c,
  messageNoticeContentBorderSuccess: #10457e,
  messageNoticeContentColorSuccess: #fff,
  messageNoticeContentBgError: #01152c,
  messageNoticeContentBorderError: #10457e,
  messageNoticeContentColorError: #fff,
  messageNoticeContentBgLoading: #01152c,
  messageNoticeContentBorderLoading: #10457e,
  messageNoticeContentColorLoading: #fff,
  tableBg: #071B39,
  tableHeaderBg: #092955,
  tableHeaderColor: #fff,
  tableRowBgHover: #073456,
  tableThTdBg: #062042,
  tableTbodyTdColor: #fff,
  tableStripe2nBg: #041939,
  tableHeaderThShadow: inset 0 -1px 0 0 #000d1b,
  tableFixedRightShadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.4),
  // element
  treeColor: #fff,
  treeNodeContentBgHover: #184f8d,
  treeNodeContentColorHover: #fff,
  // 分页器
  pageBg: #071b39,
  pageColor: #fff,
  pageTotalColor: #2b84e2,
  pageBodyColor: #1b82d2,
  pageItemBorder: #10457e,
  pageItemBg: #02162b,
  pageItemBorderHover: #2b84e2,
  pageItemBgHover: #010f1f,
  pageItemBgActiveHover: #4e9ef2,
  pageItemColorActive: #fff,
  pageItemBorderActive: #2b84e2,
  pageItemColorHover: #2b84e2,
  pageItemColorActiveHover: #fff,
  pageSelectColor: #2b84e2,
  pageSelectBgHover: #010f1f,
  // label
  labelColor: #fff,
  // image
  imageBg: #071b39,
)