$light: (
  // 滚动条
  scrollbarThumbBg: #0003,
  // 导航
  navBackgroundImg: url('../../assets/img/common/nav-header-light.png'),
  menuFirstBeforeBg: transparent,
  menuItemActiveHorizontal: rgba(255, 255, 255, 0.1),
  menuItemActiveHoverHorizontal: rgba(255, 255, 255, 0.1),
  menuItemActiveAfterHorizontal: #fff,
  menuItemActiveBg: rgba(255, 255, 255, 0.2),
  menuItemHoverColor: #fff,
  menuItemHoverBg: rgba(255, 255, 255, 0.1),
  menuItemHoverBgVertical: rgba(44, 134, 248, 0.1),
  menuItemHoverColorVertical: rgba(0, 0, 0, 0.8),
  menuItemActiveBgVertical: #2C86F8,
  menuItemActiveColorVertical: #fff,
  menuShadowVertical: 0px 2px 6px 0px rgba(0, 21, 41, 0.15),
  menuBoxBgVertical: #fff,
  menuBoxColorVertical: rgba(0, 0, 0, 0.8),
  subFirstBeforeBg: transparent,
  subFirstTriangleBorder: #fff,
  subMenuTitleHoverBg: rgba(255, 255, 255, 0.1),
  subMenuActiveBg: rgba(255, 255, 255, 0.2),
  subMenuTitleBgVertical: #fff,
  subMenuActiveColorVertical: #fff,
  subMenuActiveBgVertical: #2C86F8,
  // 主布局
  layoutBackGround: #fff,
  layoutHeaderBarBg: #fff,
  layoutHeaderBarShadow: 0px 3px 5px 0px rgba(147, 171, 206, 0.7),
  layoutSiderBg: #484847,
  // 标签页
  tabPaneBgActive: rgba(44, 134, 248, 0.1),
  tabPaneColor: rgba(0, 0, 0, 0.6),
  tabPaneActive: #2C86F8,
  tabPaneHoverBg: rgba(44, 134, 248, 0.1),
  tabSliderBorder: #D3D7DE,
  tabOptionHoverBg: rgba(44, 134, 248, 0.1),
  tabOptionHoverColor: rgba(44, 134, 248, 0.1),
  // iview
  inputBackGround: #fff,
  inputColor: rgba(0, 0, 0, 0.9),
  inputPlaceholder: rgba(0, 0, 0, 0.35),
  inputPlaceholderFocus: rgba(0, 0, 0, 0.9),
  inputBorder: #D3D7DE,
  inputBorderFocus: #2C86F8,
  inputBgDisabled: #E9E9E9,
  inputBorderDisabled:#D3D7DE,
  inputColorDisabled: rgba(0, 0, 0, 0.35),
  inputNumberBgDisabled: #E9E9E9,
  formLabelColor: rgba(0, 0, 0, 0.45),
  formItemErrorInputBorder: #EA4A36,
  selectPlaceholderColor: rgba(0, 0, 0, 0.35),
  selectBg: #fff,
  selectBorder: #D3D7DE,
  selectBorderFocus: #2C86F8,
  selectDropdownBg: #fff,
  selectItemColor: rgba(0, 0, 0, 0.8),
  selectItemBgHover: rgba(44, 134, 248, 0.2),
  selectItemBgSelected: #2C86F8,
  selectItemColorSelected: #fff,
  selectIconColor: #888888,
  selectColor: rgba(0, 0, 0, 0.8),
  selectColorDisabled: rgba(0, 0, 0, 0.35),
  datepickerLabelColor: rgba(0, 0, 0, 0.9),
  datepickerBtnArrowDoubleColor: #888888,
  datepickerBtnArrowColor: #484847,
  datepickerHeaderBorder: #D3D7DE,
  datepickerCellsHeaderColor: #2C86F8,
  datePickerLabelColor: rgba(0, 0, 0, 0.8),
  datapickerDropdownBg: #fff,
  datepickerCellsBgDisabled: #D3D7DE,
  timepickerCellsListBorder: #D3D7DE,
  timepickerCellsBgHover: rgba(44, 134, 248, 0.1),
  pickerConfirmBorder: #D3D7DE,
  radioInnerBorder: #D3D7DE,
  radioInnerBg: #fff,
  radioWrapperColor: rgba(0, 0, 0, 0.9),
  radioInnerBorderDisabled: #D3D7DE,
  radioInnerBgDisabled: #E9E9E9,
  radioInnerHoverBorder: #2C86F8,
  radioInnerAfterBgCheckedDisabled: #D3D7DE,
  checkboxWrapperColor: rgba(0, 0, 0, 0.9),
  checkboxInnerBg: #fff,
  checkboxInnerBorder: #D3D7DE,
  checkboxInnerBgChecked: #2C86F8,
  checkboxInnerBgCheckedDisabled: #E9E9E9,
  checkboxInnerBorderCheckedDisabled: #D3D7DE,
  switchBorder: #D3D7DE,
  switchBg: #fff,
  switchInnerAfterBg: #D3D7DE,
  switchBgChecked: #2C86F8,
  switchDisabledBg: #E9E9E9,
  switchInnerAfterBgChecked: #fff,
  btnPrimaryBg: #2C86F8,
  btnPrimaryBgHover: #4597FF,
  btnPrimaryBgActive: #1A74E7,
  btnPrimaryColorDisabled: rgba(0, 0, 0, 0.35),
  btnPrimaryBgDisabled: #E9E9E9,
  btnPrimaryBorderDisabled: #D3D7DE,
  btnDefaultColor: #2C86F8,
  btnDefaultBg: #fff,
  btnDefaultBorder: #2C86F8,
  btnDefaultColorHover: #4597FF,
  btnDefaultBgHover: #fff,
  btnDefaultBorderHover: #4597FF,
  btnDefaultColorActive: #1A74E7,
  btnDefaultBgActive: #fff,
  btnDefaultBorderActive: #1A74E7,
  btnDefaultColorDisabled: rgba(0, 0, 0, 0.35),
  btnDefaultBgDisabled: #E9E9E9,
  btnDefaultBorderDisabled: #D3D7DE,
  btnDashedBg: rgba(44, 134, 248, 0.1),
  btnDashedColor: #2C86F8,
  btnDashedBorder: #2C86F8,
  btnDashedColorHover: #4597FF,
  btnDashedBgHover: rgba(69, 151, 255, 0.1),
  btnDashedBorderHover: #4597FF,
  btnDashedColorActive: #1A74E7,
  btnDashedBgActive: rgba(26, 116, 231, 0.1),
  btnDashedBorderActive: #1A74E7,
  btnDashedColorDisabled: rgba(0, 0, 0, 0.35),
  btnDashedBgDisabled: #E9E9E9,
  btnDashedBorderDisabled: #D3D7DE,
  btnTextColor: rgba(0, 0, 0, 0.9),
  btnTextColorHover: rgba(0, 0, 0, 0.9),
  btnTextBgHover: rgba(211, 215, 222, 0.3),
  btnTextColorActive: rgba(0, 0, 0, 0.9),
  btnTextBgActive: #D3D7DE,
  btnTextColorDisabled: rgba(0, 0, 0, 0.35),
  messageNoticeContentBgWarning: #FFF5E6,
  messageNoticeContentBorderWarning: #F29F4C,
  messageNoticeContentColorWarning: #F29F4C,
  messageNoticeContentBgSuccess: #DFFFED,
  messageNoticeContentBorderSuccess: #1FAF81,
  messageNoticeContentColorSuccess: #1FAF81,
  messageNoticeContentBgError: #FFF1F0,
  messageNoticeContentBorderError: #EA4A36,
  messageNoticeContentColorError: #EA4A36,
  messageNoticeContentBgLoading: #E6F7FF,
  messageNoticeContentBorderLoading: #48BAFF,
  messageNoticeContentColorLoading: #48BAFF,
  tableBg: #F9F9F9,
  tableHeaderBg: #EBEDF1,
  tableHeaderColor: rgba(0, 0, 0, 0.9),
  tableRowBgHover: #E9F3FE,
  tableThTdBg: #F9F9F9,
  tableTbodyTdColor: rgba(0, 0, 0, 0.8),
  tableStripe2nBg: #F1F1F1,
  tableHeaderThShadow: none,
  tableFixedRightShadow: -2px 0 6px -2px rgb(0 0 0 / 20%),
  // element
  treeColor: rgba(0, 0, 0, 0.9),
  treeNodeContentBgHover: #2C86F8,
  treeNodeContentColorHover: #fff,
  // 分页器
  pageBg: transparent,
  pageColor: #999999,
  pageTotalColor: #2C86F8,
  pageBodyColor: #999999,
  pageItemBorder: #D3D7DE,
  pageItemBg: transparent,
  pageItemBorderHover: #2C86F8,
  pageItemBgHover: #2C86F8,
  pageItemBgActiveHover: #2C86F8,
  pageItemColorActive: #fff,
  pageItemBorderActive: #2C86F8,
  pageItemColorHover: #fff,
  pageItemColorActiveHover: #fff,
  pageSelectColor: #999999,
  // label
  labelColor: rgba(0, 0, 0, 0.45),
  // image
  imageBg: linear-gradient(180deg, #FFFFFF 0%, #ECF3FC 100%),
)